@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('reset.css');

.container{
	max-width: 1376px;
	padding: 0 32px;
	margin: 0px auto;
}


/* HEADER */
.header{
	height: 108px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px 0 40px 0;
}
.header__logo{

}
.header__links{
	display: flex;
	flex-direction: row;
	column-gap: 207px;
}
.header__nav{
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.header a{
	color: #212529;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
}
.header a:hover{
	border-bottom: 1px solid black; 
}
.header__phone{
	color: #212529;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
}


/* HERO */
.hero{
	display: flex;
	flex-direction: column;
	margin-bottom: 120px;
}
.hero__title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}
.hero__title h1{
	max-width: 794px;
	
	color: #212529;
	font-family: Helvetica;
	font-size: 72px;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
}
.hero__title a{
	color: #212529;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	margin-top: 235px;
}
.hero__title a:hover{
	color: #c29311;
	opacity: 50%;
	border-bottom: 1px solid #c29311; 
}
.hero__content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.hero__column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hero__column p{
	max-width: 445px;
	color: #212529;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
}
.hero__column img{
	width: 329px;
	height: 493px;
}
.hero__img{
	width: 678px;
	height: 809px;
}


/* ABOUT */
.about{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 135px;
	margin-bottom: 120px;	
}
.about__title{
	max-width: 562px;
	color: #212529;
	font-family: Helvetica;
	font-size: 48px;
	font-weight: 400;
}
.about__content{
	display: flex;
	flex-direction: column;
}
.about__text{
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin-bottom: 40px;
}
.about__text p{
	color: #212529;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
}
.about__card{
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.about-card__title{
	color: #212529;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: 400;
}
.about-card__text{
	color: #212529;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
}

/*STEPS*/
.steps{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 140px;
	margin-bottom: 120px;
}
.steps__title{
	max-width: 562px;
	color: #212529;
	font-family: Helvetica;
	font-size: 48px;
	font-weight: 400;
}
.steps__content{
	display: flex;
	flex-direction: column;
}
p.steps__text{
	max-width: 325px;
	margin-top: 22px;
	margin-bottom: 44px;
	color: #212529;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	text-align: left;
}
.steps__card{
	max-width: 678px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid #000;
}
.steps-card__title{
	color: #212529;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: 400;
}
.steps-card__text{
	max-width: 329px;
	color: #212529;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
}

/*PROJECTS*/
.projects{
	display: flex;
	flex-direction: column;
	margin-bottom: 120px;
}
.projects__title{
	color: #212529;
	font-family: Helvetica;
	font-size: 48px;
	line-height: normal;
	margin-bottom: 32px;
}
.projects__images{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.projects__row{
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	overflow: hidden;
}
.projects__row img{
	background-size: border-box;
	width: auto;
	max-width: 33%;
}